@model WebApplication2.Models.products
@{
    ViewBag.Title = "Index";
}

@Html.DisplayNameFor(x => x.BrandName)
@Html.DisplayFor(x => x.BrandName)

<div><b>cpu</b>@Model.BrandName</div>
<div><b>cpu</b>@Model.ModeINO</div>

